<!-- guest home -->
<div>
    <h1 class="center">Welcome to <strong>Cool Story Bro</strong></h1>
    <h4 class="center">The place where every story seems 100% <strong><em>legit</em></strong> and is brought to you by your friendly <strong><em>bro</em></strong>.</h4>
</div>
<div class="row home-buttons-container">
    <div class="col-md-12">
        <div class="center col-lg-6">
            <a href="#/login">
                <button type="button" class="btn btn-lg btn-warning home-btn">Login</button>
            </a>
        </div>
        <div class="center col-lg-6">
            <a href="#/register">
                <button type="button" class="btn btn-lg btn-success home-btn">Register</button>
            </a>
        </div>
    </div>
</div>
<!-- end of guest home -->