<!-- edit profile -->
<section class="edit-profile">
    <form class="register form-horizontal">
        <fieldset>
            <legend>Edit Profile</legend>
            <div class="col-lg-9 form-info">
                <div class="form-group">
                    <label for="username" class="col-lg-3 control-label">Username:</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" id="username" value="{{username}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-lg-3 control-label">Password:</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-lg-3 control-label">Name:</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" id="name" placeholder="Name" value="{{name}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="about" class="col-lg-3 control-label">About me:</label>
                    <div class="col-lg-9">
                        <textarea class="form-control" rows="3" id="about">{{about}}</textarea>
                        <span class="help-block">Tell us a little about yourself!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Gender:</label>
                    <div class="col-lg-9">
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender-radio" value="male">Male
                            </label>
                            <label>
                                <input type="radio" name="gender-radio" value="female">Female
                            </label>
                            <label>
                                <input type="radio" name="gender-radio" value="other">Other
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 picture-upload">
                <div class="form-group">
                    <img class="thumbnail picture-preview" src="{{picture}}"/>
                </div>
                <div class="form-group">
                    <p class="picture-name"></p>
                    <button type="button" id="upload-file-button" class="btn btn-md btn-info">Upload</button>
                    <input type="file" id="picture" />
                    <p>Size limit: 128KB</p>
                </div>
            </div>

            <div class="form-group col-lg-12">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="button" id="profile-save" class="btn btn-lg btn-primary">Save Changes</button>
                    <button type="button" id="profile-cancel" class="cancel-btn btn btn-lg btn-default">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</section>
<!-- end of edit profile -->