<!-- post box -->
<div class="post-container" id="post-container" hidden>
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div>
                    <textarea class="form-control" rows="3" id="post-content" placeholder="Any cool story you wanna share?"></textarea>
                </div>
            </div>
            <div class="form-group pull-left">
                <div>
                    <button type="button" id="post-btn" class="btn btn-primary">Post</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!-- end of post box -->
<!-- posts page -->
{{#each posts}}
<article class="post well">
    <header class="post-header">
        <div class="post-image">
            <img class="mini-thumbnail" src="{{picture}}"/>
        </div>
        <div class="post-info">
            <p><a href="#" class="profile-link" user-id="{{userId}}">{{name}}</a> made a post</p>
            <p>on <time>{{createdAt}}</time></p>
        </div>
    </header>
    <section class="post-content">
        <p>{{content}}</p>
    </section>
</article>
{{/each}}
<!-- end of posts page -->

<div class="hover-box" hidden>
    <p>Loading...</p>
</div>