<div ng-if="wallOwner" class="media-left">
    <img ng-src="{{wallOwner.profileImageData}}" err-src="{{defaultImage}}" alt="profile picture" style="width: 125px; height: 125px"/>
</div>
<div class="media-body">
    <h2><a href="#/user/{{wallOwner.username}}/wall/">{{wallOwner.name}}</a></h2>
    <div class="status">
        <button ng-if="wallOwner.status === 'invite'" type="submit" class="btn btn-lg btn-danger" ng-click="sendFriendRequest(wallOwner)">Invite</button>
        <button ng-if="wallOwner.status === 'friend'" class="btn btn-lg btn-success" disabled>Friend</button>
        <button ng-if="wallOwner.status === 'pending'" class="btn btn-lg btn-warning" disabled>Pending</button>
    </div>
</div>