<section id="about-section">
    <div id="about-logo"></div>
    <h2>Welcome to our project!</h2>
    <h3>Who are we?</h3>
    <h5>We are nice and motivated people, students in SoftUni(Software University). You can find us on GitHub:</h5>
    <ul>
        <li><a href="https://github.com/rozay" target="_blank">Rositsa Popova</a></li>
        <li><a href="https://github.com/nmnikolov" target="_blank">Nikola Nikolov</a></li>
        <li><a href="https://github.com/benadaephondelat" target="_blank">Georgi Iliev</a></li>
        <li><a href="https://github.com/kur6uma666" target="_blank">Martin Kurshumov</a></li>
    </ul>
    <h3>What we do?</h3>
    <h5>
This is our project in JavaScript Applications Course.
We had to do blog, using JavaScript, jQuery, AJAX, REST.
As a requirement we had to use REST API from <a href="https://parse.com" target="_blank">Parse.com</a>
and be focused on the front-end, written in JS.
We should write our app from scratch and are not allowed to use SPA frameworks like AngularJS, Backbone, Ember etc.
We used GitHub as project collaboration platform.Here's <a href="https://github.com/kur6uma666/Team-LYTTON-JS-APPS" target="_blank">link</a> to our source code.
        </h5>
    <p></p>
</section>
