<section id="post-section">
    <form id="post-form">
        <h3>Post an article</h3>
        <div>
            <input type="text" class="form-control" id="title" placeholder="Title...">
        </div>

        <div class="input-group">
        <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
                Upload header image&hellip; <input type="file" id="upload-file-button" single>
            </span>
        </span>
            <input type="text" class="form-control" readonly>
        </div>

        <div>
            <textarea id="content" class="form-control" placeholder="Content..."></textarea>
        </div>
        <div>
            <input type="text" class="form-control" id="tags" placeholder="Tags separated by space ">
        </div>
        <button id="postArticle" class="btn btn-primary" type="button">Post</button>
    </form>
</section>



