<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand header-logo" href="#/about"><div id="header-logo-img"></div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-9" aria-expanded="false" style="height: 0.800000011920929px;">
        <ul class="nav navbar-nav">
            <li><a href="#/blog/page/1" class="hvr-underline-reveal"><span class="glyphicon glyphicon-home"></span> Blog</a></li>
            {{#if result}}
                <li><a href="#/addPost" class="hvr-underline-reveal"><span class="glyphicon glyphicon-plus"></span> Add post</a></li>
            {{/if}}
            <li><a href="#/about"  class="hvr-underline-reveal"><span class="glyphicon glyphicon-education"></span> About us</a></li>
            <li><a href="#/userProfile"  class="hvr-underline-reveal"><span class="glyphicon glyphicon-pencil"></span> Profile</a></li>
            <li id="logout"><a class="hvr-underline-reveal"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
        </ul>
        <form class="navbar-form navbar-right" id="search-form" role="search">
            <div class="input-group">
                <input type="text" id="search-input" class="form-control" placeholder="Search by tag...">
          <span class="input-group-btn">
            <button id="search" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
            </div><!-- /input-group -->
        </form>

    </div><!-- /.navbar-collapse -->

</div><!-- /.container-fluid -->

<div id="up-to-top" title="Up">
    <a>
        <svg width="60" height="60">
            <circle id="svg_1" fill="#3f3f3f" stroke-width="3" r="30" cy="29.976243" cx="29.924915"/>
            <line y2="21.200126" x2="29.890666" y1="33.200126" x1="14.890666" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="#ff8c00" id="top-left"/>
            <line y2="33.275212" x2="45.003294" y1="21.275212" x1="30.003294" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="#ff8c00" id="top-right"/>
            <line y2="27.202401" x2="29.932969" y1="39.202401" x1="14.932969" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" id="bottom-left" stroke="#ff8c00"/>
            <line y2="39.242711" x2="44.994561" y1="27.242711" x1="29.994561" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="#ff8c00" id="bottom-right"/>
        </svg>
    </a>
</div>


