@model GoblinFreelancer.Areas.Admin.Models.UserAdministrationModel

<div class="editor-label">
    @Html.LabelFor(model => model.IsBanned)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IsBanned)
</div>