<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="CentaurFactory" connectionString="Server=localhost; Port=3306; Database=centaurfactory; Uid=root; Pwd=C0c0lino1; pooling=true"/>-->
    <add name="CentaurFactory" connectionString="Server=localhost; Port=3306; Database=centaurfactory; Uid=root;  pooling=true"/>
  </connectionStrings>
</configuration>