.meta-div {
    word-spacing: 2px;
    font-size: 80%;
    margin-top: -20px;
    margin-bottom: 20px;
    color: #777777;
}
.blue {
    color: #605EA7;
}
#twitterBar {
    display:inline-block;
    position: relative;
    background:#ededed;
    width:900px;
    top:98%;
    height:30px;
    margin-bottom: 0px;
}
#twitterBar p {
    font-size:16px;
    margin:3px;
    margin-left:40px;
}